{
  "chips": {
    "<chip name>": {
      "features": {
        "<feature name>": {
          "label": "<feature label>",
          "mqtt": "<feature mqtt topic (added to prefix)>"
        }
      }
    }
  }
}
